<h1>Inventory</h1>

<table>
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= link_to inventory.food.name, inventory_path(inventory) %></td>
        <td><%= inventory.quantity %> <%= inventory.food.unit %></td>
        <td>
          <%= link_to 'Remove', inventory, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add food', new_inventory_path, class: 'btn btn-primary' %>
