<div class="users-container">
  <div class="food-recipe-container">
    <h2 style="text-align:center">Shopping List</h2>
    <div class="row" style="margin-top:10%; margin-bottom:4%;">
      <div class="col-md-6">
        <p>Amount of food items to buy: <%= @foods.length %></p>
        <p>Total value of food needed: <%= @total_value %></p>
      </div>
      <div class="col-md-6">
      <p>Recipe: <%= @selected_recipe&.name %></p>
      <p>Inventory: <%= @selected_inventory&.name %></p>      
  </div>
    </div>
    <table class="table">
      <thead class="table-header">
        <tr>
          <th>Food</th>
          <th>Price</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody class="table-body">
      <%= render partial: 'partials/table_food_item', collection: @foods_to_purchase, as: :food %>
      </tbody>
    </table>
  </div>
</div>
